.Display {
  width: 100%;
  margin: auto;
  background-color: #f8f8fb;
  min-height: 100vh;

  .Sidebar {
    position: sticky;
    width: 100%;
    top: 0;
  }

  .Container {
    width: 80%;
    margin: auto;
  }
}
