@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

.Table {
  max-width: 100%;
  overflow-x: scroll;
  padding: 1em 2em 2em;
  margin-top: 2em;
  max-height: 500px;
  overflow-y: auto;


  &Heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;

    h2 {
      margin: 0;
    }

    &Form {
      select {
        height: 2.5em;
        width: 7em;
        padding-left: 0.8em;
        padding-right: 1em;
        font-size: 0.9em;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 98%;
        background-position-y: 6px;
        outline: none;
        border: none;
        box-sizing: border-box;
        box-shadow: 0 0 0 1px #c5cee0 inset, 0 0 0 2px transparent;
        border-radius: 8px;
        transition: box-shadow 0.2s ease-out;
        transition-property: box-shadow;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
        transition-delay: 0s;
        margin: 0.3em auto 2em 1em;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8em;

    thead {
      border-bottom: solid;
      border-width: 2px;
      border-color: #efefff;
      height: 0.5em !important;

      th,
      td {
        padding: 0.5em 0;
        text-align: left;
      }
    }

    tbody {
      height: auto;

      tr {
        border-bottom: solid;
        border-width: 1px;
        border-color: #efefff;

        &:nth-last-of-type(1) {
          border-bottom: none;
        }

        th,
        td {
          padding: 0.5em 0;
          text-align: left;
        }

        td:nth-of-type(1) {
          display: flex;
          flex-direction: column;
        }

        td:nth-of-type(2) {
          font-family: "Roboto Mono", monospace !important;
        }

        td {
          div {
            .tableRowName {
              display: flex;
              align-items: center;

              img {
                margin-left: 0.5em;
              }
            }

            a {
              color: #8c00f1;
              text-decoration: none;
              font-weight: bold;
              font-size: 1em;
              margin-bottom: 0.3em;
            }
          }
        }

        td:nth-last-of-type(1) {
          min-width: 6em;
          text-align: center;
          position: relative;

          span {
            color: #8c00f1;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }

          .options {
            background-color: #ffffff;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            text-align: left;
            border-radius: 7px;
            position: absolute;
            width: 9em;
            left: -5.5em;
            
            span {
              padding: 1em;
              color: #000000;
              display: block;
              margin: 0.5em 0;
              text-decoration: none;

              &:focus{
                background-color: red;
              }

              &:nth-last-of-type(2) {
                border-bottom: solid;
                border-width: 1px;
                border-color: #efefff;
              }
            }
          }
        }
      }
    }
  }
}
